<!--

<script>
	new Autocomplete('#autocomplete', {

		search : input =>{
			console.log(input)
			const url = `/search/?user=${input}`
			return new Promise(resolve =>{
				fetch(url)
				.then(response => response.json())
				.then(data => {
					console.log(data)
					resolve(data.data)
				})
			})
		},
		onSubmit : result => {
			window.open.('/')
		}
	})
</script>


</body>
</html>


<script>
	const data = '{{ qs }}'
	console.log(data)

	const rdata = JSON.parse(data.replace(/&quot;/g, '"'));
	console.log(rdata)

	const input = document.getElementById('search_here')
	console.log(input)

	let filteredArr = []

	input.addEventListener('keyup', ()=>{
		box.innerHTML = ""
		filteredArr = rdata.filter(profile=> profile['user'].includes(e.target.value))
		console.log(filteredArr)
		if (filteredArr.length > 0){
			filteredArr.map(profile=>{
				box.innerHTML += `<b>${profile['user']}</b><br>`
			})
		} else {
			box.innerHTML = "<b>No results</b>"
		}	
	})
</script>


 block title 
Search view
{% endblock title %}

{% block content %}
 search users 
<input id='search_here' class='form-control mb-3' placeholder="Type here to search"/>
<div id='box'>
	{% for item in object_list %}
		{{ item }}
	{% endfor %}
</div>
 endblock content  -->